.createToken {
  width: 100%;
  //   min-height: 100vh;
  padding: 40px 0;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    .createTokenFormBox {
      padding: 50px 30px;
      width: 700px;
      @media (max-width: 991px) {
        width: 600px;
      }
      @media (max-width: 767px) {
        width: 450px;
        padding: 45px 30px;
      }
      @media (max-width: 575px) {
        width: 300px;
        padding: 0px 30px;
      }
      margin-top: 10px;
      border-radius: 12px;
      h1 {
        font-size: 34px;
        @media (max-width: 767px) {
          font-size: 30px;
        }
        @media (max-width: 575px) {
          font-size: 26px;
        }
        font-weight: 600;
        color: rgba(0, 0, 0, 0.85);
        text-align: center;
        font-family: 'Segoe_UI';
      }
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        input {
          width: 500px;
          @media (max-width: 767px) {
            width: 420px;
          }
          @media (max-width: 575px) {
            width: 230px;
          }
          height: 36px;
          border: 1px solid #d9d9d9;
          outline: none;
          padding: 5px 0 5px 10px;
          border-radius: 4px;
          font-size: 16px;
          font-family: 'Segoe_UI';
          &:hover {
            border-color: #f95192;
          }
          &:focus-within {
            border-color: #f95192;
            box-shadow: 0 0 0 0.125em rgba(249, 81, 146, 0.25);
          }
          margin: 10px 0;
        }
        input::placeholder {
          font-size: 16px;
          color: #d9d9d9;
        }
        input[type='number']::-webkit-outer-spin-button,
        input[type='number']::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        input[type='number'] {
          -moz-appearance: textfield;
        }
        .tokenFileChosen {
          display: flex;
          justify-content: center;
          button {
            margin-top: 15px;
            &:first-child {
              width: 140px;
              @media (max-width: 767px) {
                width: 115px;
              }
              border: 1px solid #d9d9d9;
              border-radius: 4px 0 0 4px;
            }
            &:nth-child(2) {
              width: 369px;
              @media (max-width: 767px) {
                width: 317px;
              }
              @media (max-width: 575px) {
                width: 184px;
              }
              border: 1px solid #d9d9d9;
              border-left: none;
              text-align: left;
              padding-left: 20px;
              border-radius: 0 4px 4px 0;
            }
          }
        }
        .formErrors {
          font-size: 12px;
          margin: 0 0 10px 0;
          text-align: left !important;
          color: red;
          font-family: 'Segoe_UI';
        }
        button {
          width: 508px;
          @media (max-width: 767px) {
            width: 432px;
          }
          @media (max-width: 575px) {
            width: 240px;
          }
          height: 46px;
          margin-top: 30px;
          color: #fff;
          font-weight: 900;
          font-family: 'Segoe_UI';
          border: 1px solid #f95192;
          background-color: #f95192;
          cursor: pointer;
          border-radius: 4px;
          font-size: 16px;
        }
      }
    }
  }
}
