.secret_key {
  font-family: sans-serif;
  display: flex;
  padding: 32px;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
  gap: 10px;
  /* height: 100vh; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* background-color: #f8f9fd; */
}
.heading_key {
  font-size: 14px;
  font-weight: 500;
  font-family: sans-serif;
}
.key {
  font-size: 18px;
  font-weight: 900;
  font-family: sans-serif;
  display: block;
  word-wrap: break-word;
}
.button_style {
  display: flex;
  justify-content: space-between;
}
.copy_button {
  background: #2fda2f;
  padding: 7px;
  font-weight: 700;
  border: 0;
  color: white;
  cursor: pointer;
}
.next_button {
  background: #242c24;
  padding: 7px;
  font-weight: 700;
  border: 0;
  color: white;
  cursor: pointer;
}
.input_secretkey {
  width: 100%;
}
